.calculator-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 11.5%;
}

.calculator-logo{
    font-size: 2.3rem;
    color: var(--one-light-text); 
    margin-top: 10px;
}

.calculator-switch{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 40%;
    margin-right: 1rem;

    & > p{
        font-size: .8rem;
        color: var(--one-light-text);
        font-weight: 100;
        margin: 0;
    }

    @media only screen and (min-width: $bp-main){
        justify-content: flex-end;
        margin-right: 0;
    }

    @media only screen and (max-width: $bp-sub-main){
        margin-right: 1.8rem;
    }
}

.switch{
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    margin-left: 1rem;
}

.switch-types{
    color: var(--one-light-text);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: .8rem;
}

.switch-main{
    background: var(--one-keypad-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    position: relative;
    height: 30px;
    width: 80px;
}

input[type = "radio"]{
    cursor: pointer;
    position: absolute;
    opacity: 0;
}

input[type = "radio"]:first-of-type{

}

input[type = "radio"]:nth-of-type(2){
    left: 28px;
}

input[type = "radio"]:last-of-type{
    right: 4px;
}

.switch-ball{
    width: 20px;
    height: 20px;
    background-color: var(--one-equal-key-background);
    border-radius: 50%;
    position: absolute;
    left: 6px;
    transition: 0.3s linear;
    cursor: pointer;
}

